# Z-Image AC-RF 训练配置 (自动生成)
# 生成时间: 2025-12-08T12:10:11.364145

[model]
dit = "D:/AI/None_Z-image-Turbo_trainer/zimage_models/transformer"
output_dir = "D:/AI/None_Z-image-Turbo_trainer/output"

[acrf]
turbo_steps = 8
shift = 3
jitter_scale = 0.02
snr_gamma = 5
snr_floor = 0.1

[lora]
network_dim = 16
network_alpha = 16

[training]
output_name = "111"
optimizer_type = "AdamW8bit"
learning_rate = 0.0001
weight_decay = 0
lr_scheduler = "cosine_with_restarts"
lr_warmup_steps = 100
lr_num_cycles = 1
lambda_fft = 0
lambda_cosine = 0
loss_mode = "standard"
alpha_hf = 1
beta_lf = 0.2
lambda_struct = 1
lambda_light = 0.5
lambda_color = 0.3
lambda_tex = 0.5
num_train_epochs = 10
save_every_n_epochs = 1
gradient_accumulation_steps = 1
mixed_precision = "bf16"
seed = 42

[advanced]
max_grad_norm = 1
gradient_checkpointing = true

[optimization]
auto_optimize = true

# ============ Dataset 配置 ============
[dataset]
batch_size = 1
shuffle = true
enable_bucket = true

[[dataset.sources]]
cache_directory = "D:/AI/None_Z-image-Turbo_trainer/datasets/1"
num_repeats = 1
resolution_limit = 1024
